
.container {
    width: 80%;
    margin: auto;
}

.block {
    float: left;
    width: 33%;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
}

.clr {
    clear: both;
}

#main-block {
    float: left;
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
}

#sidebar {
    float: right;
    width: 30%;
    background-color: grey;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
}

.p-box {
    width: 800px;
    height: 500px;
    border: 1px solid black;
    margin-top: 30px;
    position: relative;
    background-image: url(image.jpg);
    background-position: 50px 50px;
    
    background-repeat: no-repeat;
    
}

.p-box h1 {
    position: absolute;
    top: 40px;
    left: 60px;
}

.p-box h2 {
    position: absolute;
    top: 400px;
    left: 600px;
}

.fix-me {
    position: fixed;
    top: 500px;
    left: 0;
    background-color: indigo;
    color: white;
    text-decoration: none;
    padding: 5px;
    border: 2px solid black;
}